// Override @primary color with one took from _colors.less
// @primary: @deep-purple;
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 5vh;
}

.selectize-control.single .selectize-input, .selectize-input, .selectize-control.single .selectize-input.input-active {
  background-color: transparent;
  box-shadow: none;
  border: none;
  background-image: none;
}

.collection {
  position: relative;

  .collection-header {
    .btn-floating {
       position: relative;
       bottom: auto;
       right: auto;
       margin-bottom: -0.5rem;
     }
  }

 .btn-floating {
    position: absolute;
    bottom: -3rem;
    right: -2rem;
  }
}

#velocity-status-widget {
  top: auto;
  width: auto;
  height: auto;
  bottom: 0;
}
.avatar {
  float: left;
  margin-top: 5px;
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input.focus {
  border-radius: 0;
  border-bottom: 1px solid #9e9e9e;
}

.selectize-control.single .selectize-input.focus {
  border-bottom: 2px solid #26a69a
  //box-shadow: 0 1px 0 0 #26a69a;
}
