<template name="layout">
  <div id="wrapper" class="toggled">
  <!--[if lt IE 9]>
    <div class="modal fade in" style="display:block">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4><i class="fa fa-exclamation"></i> Warning</h4>
        </div>
        <div class="modal-body">
          <p>
            You are using an outdated browser.
            Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a>
            to properly view this website.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade in"></div>
  <![endif]-->

  {{> yield region="header"}}
  <div id="mainContent" class="container-fluid">
    {{#if currentUser}}
    {{> sidebar}}
    {{/if}}
    <div id="page-content-wrapper">
      <div class="container-fluid">
      {{> yield}}
      </div>
    </div>
  </div>
  </div>
  {{> autoformModals}}
  {{> yield region="footer"}}
</template>

<template name="header">
  <header>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          {{#if currentUser}}
          <button id="sidebar-toggle" class="btn btn-flat btn-fab btn-fab-mini btn-raised btn-sm pull-left"><i class="mdi-navigation-menu"></i></button>
          {{/if}}
          <a class="navbar-brand" href="{{Router.current.route.url}}">{{title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="main-navbar">
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{> avatar user=currentUser shape="circle" size="small"}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'profile'}}">Mon compte</a></li>
                <li><a class="btn-sign-out" href="#">Déconnection</a></li>
              </ul>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<template name="sidebar">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="{{#unless recurringEventId}}active{{/unless}}">
        <a href="{{pathFor 'events'}}" data-eventId="a">
          <i class="mdi-action-book"></i>
          Tous
        </a>
      </li>
      {{#each recurringEvents}}
      <li class="{{isActivePath regex=this._id}}">
        {{>_recurringEvent recurringEvent=this}}
      </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="_recurringEvent">
  <a
    class="recurring-event"
    href="{{pathFor route _id=recurringEvent._id}}">

    <i class="mdi-action-bookmark-outline"></i>
    {{recurringEvent.name}}
  </a>
</template>

<template name="footer">
  <footer class="footer">
    <div class="container-fluid">
      <p class="text-muted text-center">
        Application réalisée avec <a href="http://meteor.com" target="_blank">Meteor</a>
        par <a href="mailto:gildas.garcia@gmail.com">gildas.garcia@gmail.com</a>.
      </p>
    </div>
  </footer>
</template>
